@import '../../defaultStyles/colors';

.society-card-image
{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.society-card-image-container
{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.society-card
{
    margin-bottom: 20px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}

.society-btn
{
    color: $alt-color;
}
.society-btn-container
{
    display: flex;
    justify-content: center;
}