@import "../../defaultStyles/colors";

.page-heading {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  color: $primary-color;
  padding: 20px;
}

.eventspage-events-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.upcoming {
  background-image: url("../../images/event_page_header_images/1.jpg");
  height: 500px;
  color: #fff;
  font-weight: bolder;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.past {
  background-image: url("../../images/event_page_header_images/2.jpg");
  height: 500px;
  color: #fff;
  font-weight: bolder;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
